/* General Styling */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

/* Item Page */
.item-page {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
}

.item-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}

.item-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.item-card img {
    max-width: 100%;
    height: auto;
}

.item-card h3 {
    margin: 15px 0;
}

.item-card .price {
    font-weight: bold;
    margin: 10px 0;
}

.item-card button {
    background-color: #0f100f;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.item-card button:hover {
    background-color: #218838;
}

/* Item Graph */
.item-graph {
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
}

.item-graph h2 {
    margin-bottom: 20px;
}

/* Responsive Adjustments */
@media (max-width: 720px) {
    .item-list {
        flex-direction: column;
        align-items: center;
    }

    .item-card {
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }

    .item-graph {
        padding: 20px 10px;
    }
}

@media (max-width: 480px) {
    .item-card {
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }

    .item-graph {
        padding: 10px 5px;
    }
}
