.item-page {
    font-family: poppins;
    color: #333;
    text-align: center;
}

.item-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.item-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

.item-card img {
    max-width: 100%;
    height: auto;
}

.item-card h3 {
    margin: 15px 0;
}

.item-card .price {
    font-weight: bold;
    margin: 10px 0;
}

.item-card button {
    background-color: #0f100f;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.item-card button:hover {
    background-color: #218838;
}

.item-graph {
    padding: 50px 20px;
    width: 100%;
    max-width: 100%; /* Ensure the graph fits within the screen width */
    box-sizing: border-box; /* Include padding in the element's width */
}

.item-graph h2 {
    margin-bottom: 20px;
}

@media (max-width: 720px) {
    .item-list {
        flex-direction: column;
        align-items: center;
    }

    .item-card {
        width: 90%;
        max-width: 100%;
    }

    .item-graph {
        padding: 20px 10px;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .item-list {
        flex-direction: column;
        align-items: center;
    }

    .item-card {
        width: 90%;
        max-width: 100%;
    }

    .item-graph {
        padding: 20px 10px;
        width: 100%; /* Ensure the graph fits within the screen width */
        max-width: 100%;
    }
}
